<div class="col-lg-4">
  <h2 id="distinctInterestCount">No. of Distinct Interests: {{ distinctInterests.length || 0 }}</h2>
</div>

<div class="row">
  <div class="col-lg-4">
    <h2>City Distribution</h2>
    <canvas id="cityChart" width="300" height="300"></canvas>
  </div>

  <div class="col-lg-4">
    <h2>Department Distribution</h2>
    <canvas id="departmentChart" width="300" height="300"></canvas>
  </div>

  <div class="col-lg-4">
    <h2>Degree Distribution</h2>
    <canvas id="degreeChart" width="300" height="300"></canvas>
  </div>

  <div class="col-lg-4">
    <h2>Gender Distribution</h2>
    <canvas id="genderChart" width="300" height="300"></canvas>
  </div>

  <div class="col-lg-4">
    <h2>Age Distribution</h2>
    <canvas id="ageChart" width="300" height="300"></canvas>
  </div>
</div>
