<div class="row">
    <div class="col-12 m-auto">
      <div class="card m-auto card-form mt-5">
        <div class="card-body">
          <h2 class="card-title">{{ student.name }}</h2>
          <p class="card-text"><strong>ID:</strong> {{ student.id }}</p>
          <p class="card-text"><strong>Roll Number:</strong> {{ student.rollNumber }}</p>
          <p class="card-text"><strong>Email:</strong> {{ student.email }}</p>
          <p class="card-text"><strong>Department:</strong> {{ student.department }}</p>
          <p class="card-text"><strong>Degree:</strong> {{ student.degree }}</p>
          <p class="card-text"><strong>Date of Birth:</strong> {{ student.dob }}</p>
          <p class="card-text"><strong>Start Date:</strong> {{ student.start }}</p>
          <p class="card-text"><strong>End Date:</strong> {{ student.end }}</p>
          <p class="card-text"><strong>City:</strong> {{ student.city }}</p>
          <p class="card-text"><strong>Interest:</strong> {{ student.interest }}</p>
          <p class="card-text"><strong>Gender:</strong> {{ student.gender === 1 ? 'Male' : 'Female' }}</p>
          <p class="card-text"><strong>Subject:</strong> {{ student.subject }}</p>
          <p class="card-text"><strong>Age:</strong> {{ student.age }}</p>  
        </div>
      </div>
    </div>
  </div>